input#showPassword {
    margin-left: -11px;
}
label.form-check-label {
    margin-left: 12px;
}

.btn.btn-secondary{
    margin-top: 0.5rem;
}
.row.row-cols-1.row-cols-md-4.g-4{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}
.user_form{
    margin-left: 30rem;
}
.cart{
    margin-left: 20rem;
}
.slideshow{
    margin-top: 5rem;
}
.products{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.container-sm{
    max-width: 200px !important;
    margin-right: 20rem;
    margin-left: 20rem;
}
.total{
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}