/* .input-field input[type=text]:focus + label {
  color: #000;
} */
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #9575cd !important;
  box-shadow: 0 1px 0 0 #9575cd !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #9575cd !important;
  box-shadow: 0 1px 0 0 #9575cd !important;
}
/* tag a*/
a{
  color: #7e57c2 !important;
  display: inline-block;
}
/*tag i */
i{
  padding-left: 12px;
}

.row {
  margin-bottom: 3px;
}
/* headelines */
.header{
  padding-left: 12px;
  padding-top: 15px;
  color: #9575cd;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 140px;
}
.header1{
  padding-left: 12px;
  padding-top: 15px;
  color: #9575cd;
  font-size: 25px;
  margin-top: 10px;
}
.header2{
  padding-left: 12px;
  padding-top: 15px;
  color: #9575cd;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 200px;
}
/* alignment form of the login */
.form-login{
  margin-left: 30%;
}
/* alignment form of the registration */
.form-register{
  margin-left: 30%;

}
/* alignment submit buttons */
.button{
  margin-left: 40%;
}
